<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import { useForm } from '@inertiajs/vue3';

const form = useForm({});
const props = defineProps({animals:{type:Object}, user:{type:Object}});

console.log(JSON.stringify(props));

</script>
<template>
    <Head title="Animales"></Head>
    <AuthenticatedLayout>
        <template #header>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Animal</th>
                            <th>Descripcion</th>
                            <th>Tipo Animal</th>
                            <th>Favorito</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="animal, i in animals" :key="animal.id" style="background: white;">
                            <td>{{ i+1 }}</td>
                            <td>{{ animal.nombre }}</td>
                            <td>{{ animal.descripcion }}</td>
                            <td>{{ animal.tipo ? "Perro" : "Gato" }}</td>
                            <td>{{ animal.favorito ? "Me Gusta" : "No Me Gusta" }}</td>
                            <td>Accion</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
