<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';

const form = useForm({});
const props = defineProps({gatos:{type:Array, required: true}, user:{type:Object}});

const mostrar = ref(false);
const mostrarAlerta = () => {
  mostrar.value = true;
}

const ocultarAlerta = () => {
  mostrar.value = false;
}

/* const marcarFavorito = async (gato) =>{
    alert('Solo se pueden guardar perros.');
}
 */
</script>


<template>
    <Head title="Gatos"></Head>
    <AuthenticatedLayout>
        <template #header>

            <div v-if="mostrar" class="alert">
                Solo se pueden guardar perros.
                <span class="closebtn" @click="ocultarAlerta">&times;</span>
            </div>

            <h1 style="background: white; text-align: center; font-size: x-large;">Gatos</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Raza</th>
                            <th>Edad</th>
                            <th>Favorito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="gato, i in gatos" :key="gato.id" style="background: white;">
                            <td>{{ i+1 }}</td>
                            <td>{{ gato.nombre }}</td>
                            <td>{{ gato.raza }}</td>
                            <td>{{ gato.edad }} años</td>
                            <td>
                                <button @click="mostrarAlerta()">
                                    {{ gato.es_favorito ? 'Quitar favorito' : 'Marcar favorito' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </AuthenticatedLayout>
</template>

