<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { ref } from 'vue';
import { useForm, router } from '@inertiajs/vue3';
import axios from 'axios';

const form = useForm({});
const props = defineProps({perros:{type:Array, required: true}, user:{type:Object}});

const marcarFavorito = async(perro) =>{
    await router.post(`/perros/${perro.id}/marcar-favorito`, { perro });
    //router.reload();
}

</script>


<template>
    <Head title="Perros"></Head>
    <AuthenticatedLayout>
        <template #header>
            <h1 style="background: white; text-align: center; font-size: x-large;">Perros</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Raza</th>
                            <th>Edad</th>
                            <th>Favorito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="perro, i in perros" :key="perro.id" style="background: white;">
                            <td>{{ i+1 }}</td>
                            <td>{{ perro.nombre }}</td>
                            <td>{{ perro.raza }}</td>
                            <td>{{ perro.edad }} años</td>
                            <td>
                                <button @click="marcarFavorito(perro)">
                                    {{ perro.es_favorito ? 'Quitar favorito' : 'Marcar favorito' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
