<script setup>
import GuestLayout from '@/Layouts/GuestLayout.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

const form = useForm({
    name: '',
    phone: '',
    direction: '',
    gender: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};

</script>

<template>
    <GuestLayout>
        <Head title="Register" />

        <form @submit.prevent="submit">
            <div class="form-group">
                <label for="name" class="label-group">Nombre Completo:</label>
                <input type="text" id="name" name="name" placeholder="Ingrese su nombre completo" v-model="form.name" required autofocus>
            </div>

            <div class="form-group">
                <label for="direction" class="label-group">Dirección:</label>
                <input type="text" id="direction" name="direction" placeholder="Ingrese su dirección" v-model="form.direction" required>
            </div>

            <div class="form-group">
                <label for="phone" class="label-group">Celular:</label>
                <input type="tel" id="phone" name="phone" placeholder="Ingrese su número de celular" v-model="form.phone" required>
            </div>

            <div class="form-group">
                <label for="gender" class="label-group">Género:</label>
                <select id="gender" name="gender" v-model="form.gender" required>
                    <option value="1">Masculino</option>
                    <option value="0">Femenino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email" class="label-group">Email:</label>
                <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" v-model="form.email" required>
            </div>

            <div class="form-group">
                <label for="password" class="label-group">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" v-model="form.password" required>
            </div>

            <div class="form-group">
                <label for="password_confirmation" class="label-group">Confirmar Contraseña:</label>
                <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Ingrese su contraseña" v-model="form.password_confirmation" required>
            </div>

            <div class="flex items-center justify-end mt-4">
                <!-- <Link
                    :href="route('login')"
                    class="underline text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800"
                >
                    Already registered?
                </Link> -->

                <button type="submit">Register</button>
            </div>
        </form>

    </GuestLayout>

</template>
